<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Employee Directory</title>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/myscript.js"></script>
<script type="text/javascript">
	$(function() {
		$("form.ajax").submit(function(event) {
			makeAjaxCall(this, successHandler, errorHandler);
			event.preventDefault();
		});

		function successHandler(data) {
			$("#res").show();
			$("#res #statusText").removeClass("error").text(
					"Retrieved details of employees!");

			if(data.length == 1) {
				$("#res #statusText").siblings().remove();
				$("#res").append("<p>OOPS! No records found!</p>");
				return;
			}

			var ul = $("<ul />");
			var i = 0;
			while (true) {
				if (data[i].id == "0")
					break;
				var li = "<li class='lmargin20'>ID: " + data[i].id;
				li += "<br />Name: " + data[i].name;
				li += "<br />Designation: " + data[i].designation;
				li += "<br />Salary: " + data[i].salary + "</li><br />";
				$(ul).append(li);
				i++;
			}
			$("#res #statusText").siblings().remove();
			$("#res").append(ul);
		}

		function errorHandler() {
			$("#res #statusText").addClass("error").text(
					"Something went wrong!");
			$("#res").hide();
		}
	});
</script>
<link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header>
		<div id="navigation">
			<ul>
				<li><a href="index.html">Find employee by ID</a></li>
				<li><a href="addEmployee.html">Add employee</a></li>
				<li><a href="findByDesignation.html" class="current">Find
						employees by designation</a></li>
			</ul>
			<div style="clear: both;"></div>
		</div>
		<h2>Find employees by their Designation</h2>
		</header>

		<form action="../findByDesgination.req"
			class="ajax">
			<div>
				<p class="formlabel">Designation</p>
				<input type="text" name="designation" autofocus autocomplete="off"
					class="formfield" />
			</div>
			<input type="submit" value="Find" class="tmargin20" />
		</form>

		<div id="res" class="tmargin20 hide">
			<h3 id="statusText" style="text-decoration: underline;"
				class="bmargin5 tmargin10"></h3>
		</div>

		<footer>
		<h4>Copyrights &copy; 2013. INTUIT Technologies Pvt. Ltd.</h4>
		</footer>
	</div>
</body>
</html>