* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Calibri", "Consolas", "serif";
	font-size: 12px;
}

#wrapper {
	padding: 20px;
}

header h2{
	margin: 10px 0;
}

#navigation ul {
	list-style-type: none;
}

#navigation li {
	float: left;
}

#navigation li a {
	display: block;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px;
	cursor: pointer;
}

#navigation li a:hover {
	background-color: #7A991A;
	cursor: pointer;
}

#navigation li a.current {
	background-color: #7A991A;
}

footer {
	text-align: center;
	margin-top: 30px;
	border-top: #000 solid 1px;
}

.formlabel {
	margin-bottom: 5px;
}

.formfield {

}

.lmargin5 {
	margin-left: 5px;
}

.lmargin10 {
	margin-left: 10px;
}

.lmargin20 {
	margin-left: 20px;
}

.rmargin5 {
	margin-right: 5px;
}

.rmargin10 {
	margin-right: 10px;
}

.rmargin20 {
	margin-right: 20px;
}

.tmargin5 {
	margin-top: 5px;
}

.tmargin20 {
	margin-top: 20px;
}

.rpadding10 {
	padding-right: 10px;
}

.bmargin5 {
	margin-bottom: 5px;
}

.error {
	color: red;
}

.hide {
	display: none;
}

.heading {
	font-weight: bold;
}