<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>PatientHealthCarePortal</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all jsps</web-resource-name>
			<url-pattern>*.html</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
	</security-constraint>
	<servlet>
		<description></description>
		<display-name>ControllerServlet</display-name>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>edu.asu.se.controller.ControllerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>*.req</url-pattern>
	</servlet-mapping>
</web-app>